#booking-carousel .slick-next {
  right: 12px;
}
#booking-carousel .slick-prev {
  left: 12px;
  z-index: 2;
}
#booking-carousel div {
  height: 100%;
}
#booking-carousel .play-icon {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#booking-carousel .play-icon:hover {
  opacity: 0.8;
}
#booking-carousel .carousel__item:hover .play-icon {
  display: block;
}
