#homeFilm {
  max-width: 940px;
  position: relative;
  padding-top: 75px;
}
/* Film */
#homeFilm .slick-next {
  right: -70px;
}

#homeFilm .slick-prev {
  left: -70px;
}
@media (max-width: 976px) {
  #homeFilm {
    padding-top: 30px;
  }
}
