#homeApp {
  padding: 120px 0 80px 0;
  background: url("../../../../assets/img/background.jpg");
  background-size: contain;
  color: #fff;
}
@media (max-width: 900px) {
  #homeApp {
    padding-top: 10px;
  }
}
