#homeCinemaComplex {
  background: url("https://tix.vn/app/assets/img/icons/back-news.png");
  background-position: center;
  padding-top: 120px;
  background-repeat: no-repeat;
}

/* Dùng regex để select phần tử html */
/* Chọn tất cả các button có tiền tố id là vertical-tab- */
button[id^="vertical-tab-"] {
  display: flex;
  align-items: flex-start;
  padding: 0;
  max-width: unset;
  min-width: unset;
  position: relative;
  min-height: unset;
}

button[id^="vertical-tab-"]::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 40px);
  transform: translateX(-50%);
  border-bottom: 1px solid #fff;
  border-color: rgba(238, 238, 238, 0.88);
}
/* Chọn tất cả các button có tiền tố id là vertical-tabpanel */

div[id^="vertical-tabpanel"] > div {
  padding: 0;
}
#homeCinemaComplex .MuiTabs-scroller,
.accordionDetailId {
  overflow-y: scroll !important;
  overflow-x: scroll !important;
}
div[id^="vertical-tabpanel"] .MuiTabs-scroller {
  height: 540px;
}

@media (max-width: 767.98px) {
  #homeCinemaComplex .MuiTabs-indicator {
    display: none;
  }
  div[id^="vertical-tabpanel"] .MuiTabs-scroller {
    height: auto;
  }
  div[id^="vertical-tabpanel"] .MuiTabs-flexContainer {
    overflow: auto;
  }

  #tabsParent .MuiTabs-indicator {
    display: block;
  }
  div[id^="vertical-tabpanel"] .MuiTabs-flexContainer::-webkit-scrollbar,
  #homeCinemaComplex .MuiTabs-scroller::-webkit-scrollbar,
  #accordionDetailId::-webkit-scrollbar {
    display: none;
  }
}
